

Çalışması için .htaccess.txt lazımmış ***

<IfModule mod_rewrite.c>

#turn on url rewriting 
RewriteEngine on

// 404 sayfasına yönlendirme (kontrol etmedim fakat çalışıyordur.)
ErrorDocument 404 / 404page.php

#remove the need for .php extention 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

RewriteRule ^department-detail/([A-Za-z0-9_-]+)    ./department-detail.php?name=$1     [L,QSA]
RewriteRule ^blog-detail/([A-Za-z0-9_-]+)    ./blog-detail.php?name=$1     [L,QSA]
RewriteRule ^doctor-detail/([A-Za-z0-9_-]+)    ./doctor-detail.php?name=$1     [L,QSA]

RewriteRule ^blog/([A-Za-z0-9_-]+)    ./blog.php?q=$1     [L,QSA]
RewriteRule ^doctor/([A-Za-z0-9_-]+)    ./doctor.php?q=$1     [L,QSA]


php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on

// server da hataları bulmak için
# ini_set('display_errors', 1);
# ini_set('display_startup_errors', 1);
# error_reporting(E_ALL);

</Ifmodule>
